{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 text-success">Payment Successful!</h1>
        <p class="lead">Thank you for your purchase. Your order has been placed. <br> <font color=red>{{ email_result }}</font> </p>
        <div class="alert alert-info">
            <strong>Transaction ID: {{  txn_data.acquirer_data.upi_transaction_id }} for Payment of Rs: ₹{{ payment.total_price }} for Order Number: {{ order_number }} </strong>
        </div>
        <a href="{% url 'home' %}" class="btn btn-outline-primary">Continue Shopping</a>
    </div>
</div>
{% endblock %}
