{% extends 'base.html' %}

{% block content %}
<div class="container mt-2 mb-2">
    <div class="row justify-content-center">
        <form method="post" action="{% url 'payment_summary' %}">
            {% csrf_token %}
            <div class="col-md-8 text-center">
                <h2>Order Summary</h2>
                <hr>
                <div class="card">
                    <div class="card-body">
                        <p><strong>Order Number : </strong><input class='form-input' max-length=50 size=20 value="{{ order_number }}" name=order_id></p>
                        <p><strong>Total Amount : </strong><input class='form-input' max-length=50 size=20 value="{{ total_amount }}" name=amount></p>
                        <p>By clicking the button below, you agree to our terms of service.</p>
                        
                        <!-- Placeholder for Payment Gateway Button -->
                        <div id="payment-button-container">
                            <button class="btn btn-primary btn-lg btn-block">Proceed</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
